.navbar{
      display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d6efd;
  font-family: 'roboto';
  font-size: 20px;
}

.nav-links a{
   color: white !important;
    text-decoration: none;
    font-weight: bold;
     padding: 0px 6pc;
}

.errors{
  border:1px solid red !important;
}

.error-text{
  color: red;
}